#barcelonatemplo { height: 500px; width: 1280px;}
#barcelonavista { height: 500px; width: 1280px;}
#Barcelonamuseu { height: 500px; width: 1280px;} 
#barcelonaparque { height: 500px; width: 1280px;}
#barcelonacamp { height: 500px; width: 1280px;}
